/* 1st Product Set */
.Qty-add {overflow:hidden; background-color:#006680; padding:5px 20px 5px 15px;}
.labelqty label, .labelqty input {float:left;}
.labelqty label {color:#fff; font-weight:400;}
.labelqty input {width:50px; margin-left:5px; height:29px; padding:4px 6px; border-radius:4px;}
.Qty-add button {float:right; padding:2px 6px; background-color:#fff; border-radius:4px; border:none;}
.tag{position:relative; margin-left:15px; font-size:10px; padding:2px; color:#fff; font-weight:400; text-transform:none; margin-top:-5px;}
.new1 {background-color:green;}
.sale1 {background-color:red;}
.pers {background-color:#006680;}
.tag.new1:before {content:" ";
    border-style: solid;
    border-width: 8px 11px 9px 0px;;
    border-color: transparent green transparent transparent;
    position: absolute; left:-11px; top:0px;
    }
    .tag.sale1:before {content:" ";
        border-style: solid;
        border-width: 8px 11px 9px 0px;;
        border-color: transparent red transparent transparent;
        position: absolute; left:-11px; top:0px;
        }
        .tag.pers:before {content:" ";
            border-style: solid;
            border-width: 8px 11px 9px 0px;;
            border-color: transparent #006680 transparent transparent;
            position: absolute; left:-11px; top:0px;
            }
.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 220px;
  height: 420px;
  /* -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15); */
  border:1px solid #f5f5f5;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail .itemimg,
.hover .thumbnail .itemimg {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}
.post-module .thumbnail {
  width: 100%;
    height: 296px;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
    border: none;
    box-shadow: none;
    position: relative; margin-bottom:0; border-radius:0; padding:5px;
}

.post-module .thumbnail .itemimg {
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  vertical-align: middle;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.post-module .thumbnail>img {display:inline;}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 10px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; border-top:1px solid #c9c9c9;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  font-weight: 700;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 10px;
  color: #e74c3c;
  font-size: 12px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 10px 0 0;
  color: #999999; float:left; width:100%;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
.quantityupdate {background-color:rgba(0, 102, 128, 0.3); color:#006680; padding:5px 10px; float:left; font-size:12px;}
.quantity-left-minus {border-top-right-radius:0px; border-bottom-right-radius:0px;}
.quantity-right-plus {border-top-left-radius:0px; border-bottom-left-radius:0px;}
.quantityupdate:hover {color:#006680;}
.description input {height:29px; width:45px !important; float:left; padding:5px; text-align:center;}
h3.title {font-size:15px; color:#006680;}
h4.title {width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; font-size:15px; margin-top:8px !important;}

.hi-icon-effect-1 .hi-icon {
    background: rgba(0, 102, 128, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.hi-icon {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    padding:10px; margin-right:10px;
    float:left;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #006680; margin-bottom:10px;
}
.hi-icon-effect-1a .hi-icon:hover {
    background: rgba(0, 102, 128, 1);
    color: #fff;
}
.no-touch a:hover, .no-touch a:active {
    color: #333;
}
.hi-icon-effect-1a .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.hi-icon-effect-1 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    box-shadow: 0 0 0 1px #006680;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.4);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.4);
    -ms-transform: scale(.4);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.4);
    opacity: 0;
}
.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.discount {color:#0ccf0c;}
.cart-content {padding:20px; overflow:hidden;background: #FFFFFF;
width: 100%;
padding: 10px;
-webkti-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
.cart-content h3 img {width: 30px;
    margin-top: -3px;}
    .cart-content .title {color:#666;}
    .cart-content h3 {position:relative;}
    .cart-content h3 a .badge {background-color: coral;
    color: #fff;
    padding: 2px 4px;
    font-size: 10px;
    position: absolute;
    right: 0px;
    top: -3px;}
h4.title a {color:#666; font-weight:400; font-size:15px;}
.redcolor {color:#ff2626;}

.cart-desc {overflow:hidden;}
.cart-desc .title {font-weight:500 !important;}
.cart-desc p {margin-bottom:5px;}
.cart-desc .title i {color:coral;}

.second-view {overflow:hidden;}
.second-view .post-module {box-shadow:none;}
.third-view .post-module { height:320px;}
.second-view .post-content h5 {color:#7e818c;}
.second-view .post-content h5 .strikeoff {font-weight:400;}
.second-view .post-content .off {color:#f9a279;}
.second-view .description img {width:30px; margin-left:20px;}
.second-view .post-content>h4.title:first-child {padding-bottom:0px;}
.second-view .thumbnail>img {display:inline;}
.third-view .strikeoff {font-weight:400; color:#e94142;}
.third-view .tag {
    background: url(../images/tag.png) no-repeat;
    width: 40px;
    height: 20px;
    font-size: 11px;
    color: #ffffff;
    display: inline-block;
    line-height: 23px;
    text-align: center; margin-right:4px; margin-top:-2px;
}
.third-view .post-content {border-top: 1px solid #efefef;
    background: #f6f6f6;}

    .third-view .post-content .title img {width:25px; margin-top:-2px;}
.third-view .thumbnail i {position:absolute; right:12px; top:9px; color:#e94142; font-size:18px;}


/* Fourth VIew */

.ih-item.circle {
    position: relative;
    margin: 0 auto; border:1px solid #dedede; height:360px; background-color:#f7f7f7;
}
.ih-item.circle.effect10 .img {
    /* z-index: 11; */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle .img {
    position: relative; line-height:345px;
}
.ih-item.circle.effect10 .info {
    /* background: #fcb941; */
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle .info {
    position: absolute;
    top: 180px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ih-item.circle .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;

    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
    height:auto;
}
.ih-item.circle.effect10.bottom_to_top .info h4 {
    margin: 5px 0;
    font-size: 18px;
    color: #006680; font-weight:500;
}
.ih-item.circle.effect10 .info h4 {
    color: #fff;
    position: relative;
}
.ih-item.circle.effect10 .info>h4:first-child {color:#666;}
.ih-item.circle.effect10 .info>h4 span {margin-left:10px; font-size:15px; color:#8a8a8a;}
.info ul li {
    list-style: none;
    display: inline-block;
}
.info ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    float: left;
    padding: 0px 20px; font-size:18px;
}
.info ul li p {margin-bottom:8px;margin-top:0px;}

.ih-item.circle.effect10.bottom_to_top:hover .img {
    -webkit-transform: translateY(-50px) scale(0.7);
    -moz-transform: translateY(-50px) scale(0.7);
    -ms-transform: translateY(-50px) scale(0.7);
    -o-transform: translateY(-50px) scale(0.7);
    transform: translateY(-50px) scale(0.7); line-height:300px;
}
.ih-item.circle.effect10:hover .info {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.fourth-view .input-number {width:45px; height:33px;}
.fourth-view .quantityupdate {padding:7px 11px;}
.ribbon.sale {
    top: 0;
}
.ribbon.new {
    top: 40px;
}
.ribbon {
    position: absolute;
    top: 50px;
    padding-left: 54px;
    font-weight: 700;
    letter-spacing: .08em;
}
.ribbon .theribbon {
    position: relative;
    width: 55px;
    padding: 3px 5px 3px 10px;
    margin: 15px 10px 10px -65px;
    color: #fff;
    background-color: #006680; font-size:12px;
}
.ribbon .theribbon:before, .ribbon .theribbon:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}
.ribbon .theribbon:after {
    left: 0;
    top: 100%;
    border-width: 3px 6px;
    border-style: solid;
    border-color: #000 #000 transparent transparent;
}
.ribbon .ribbon-background {
    position: absolute;
    top: 0;
    right: 0;
}

.fifth-view .post-content {border-top:none; background-color:#f7f7f7;}
.fifth-view .cart-content {padding:0;background:transparent;}
.fifth-view .cart-content .title, .fifth-view .cart-content .title a {font-weight:600 !important;}
.fifth-view .cart-content h3.title {color:#006680;}
.fifth-view .cart-content h4.title {margin-top:5px; padding-bottom:5px; font-size:16px;}
.fifth-view .origprice {color:#8a8a8a; font-size:14px;}
.fifth-view .pricetag {font-size:15px;}
.fifth-view .post-content .input-group input {width:40px; height:25px; padding:2px 5px;}
.fifth-view .post-content img {width:22px; margin-left:4px;}
.discount-percentage {padding: 0px 5px;
    height: 20px;
    line-height: 21px;
    margin-top: 2px;
    color: #fff;
    background-color: #ff7a7b;
    border-radius: 4px;
    font-size: 11px;}
.fifth-view .quantityupdate {padding:3px 7px;}
.fifth-view .thumbnail i{position:absolute; right:12px; top:10px; color:coral; font-size:18px;}
.fifth-view .thumbnail {position:relative;}
