
.wizard-navigation li.active > a, .wizard-navigation li.active > a:hover, .wizard-navigation li.active > a:focus {background-color:transparent !important}
.btn-next, .btn-previous {background-color:#54667a !important;}
.radio-theme label {color:#4F5467; padding-left:12px;}
.radio-theme label:before { width:20px; height:20px; border:1px solid rgba(79, 84, 103, 0.6);}
.radio-theme label:after { width:10px; height:10px; background-color:#4F5467;}
.imageuploadify .imageuploadify-images-list i {font-size:50px !important; color:#4F5467;}
.imageuploadify .imageuploadify-images-list span.imageuploadify-message {font-size:14px !important; border:none !important; padding:0px !important; color:#4F5467;}
.imageuploadify .imageuploadify-images-list .imageuploadify-container {width:180px !important; height:180px !important; box-shadow:none !important; border:1px solid #4F5467; border-radius:4px !important;}
.imageuploadify.well {border:none !important;}
.ImageUpload {border:2px dashed #4F5467;}
.imageuploadify-container {margin-right:20px !important;}
.imageuploadify .imageuploadify-images-list .imageuploadify-container .imageuploadify-details {padding-top:50px !important; color:#4F5467;}
.ImagePreview {border:1px solid #4F5467; padding:30px 15px; position:relative; width:180px; height:180px; margin-right:20px; float:left; border-radius:4px;}
.ImagePreview i {position:absolute; right:10px; padding:3px 4px; border-radius:20px; background-color:red; color:#fff; top:7px; font-size:10px;}
.ActiveItemContent {position: relative;
    margin: auto;
    padding: 0;
    flex-direction: column;}

    #slide {border:1px solid #e4e7ea !important; border:none;}
    #slide:focus {border:1px solid #4F5467;}
.input.es-input {border:1px solid #545454 !important;}
.itemimg {border:1px solid #e4e7ea; padding:15px;}
#PreviewTemplate .radio-theme {margin-left:40px; margin-bottom:25px; float:left; width:100%;}
#SaveFinalize i {background-color:green; color:#fff; padding:6px; border-radius:20px; font-size:20px;}
#SaveFinalize h2 {margin-top:120px;}

.stepwizard-step .btn-primary:focus, .stepwizard-step .btn-primary:hover {color:#fff !important;}
.stepwizard-step .btn-primary {color:#fff;}

/* Image Upload */

/*** CUSTOM FILE INPUT STYE ***/
.wrap-custom-file {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 0.5rem 1rem;
  text-align: center; border:1px solid #4F5467; border-radius:4px; float:left;
}
.wrap-custom-file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  overflow: hidden;
  opacity: 0;
}
.wrap-custom-file label {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  padding: 0 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.wrap-custom-file label span {
  display: block;
  margin-top: 3rem;
  font-size: 1.4rem;
  color: #777;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.wrap-custom-file label .fa {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  font-size: 1.5rem;
  color: lightcoral;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.wrap-custom-file label.file-ok {
  background-size: cover;
  background-position: center;
}
.wrap-custom-file label.file-ok span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  font-size: 1.1rem;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
}
.wrap-custom-file label.file-ok .fa {
  display: none;
}
.wrap-custom-file label {background-image: url(../img/camera.png);
    background-size: 30%;
    background-position: center center;
    background-repeat: no-repeat; margin-bottom:0px;
  }

  .wrap-custom-file i {position:absolute; top:5px; right:10px; color:#d80000;}

  .imgguidelines {    -webkit-padding-start: 20px; margin-bottom:40px;}
  .imgguidelines ul{list-style:square !important;}
  .imgguidelines li {line-height:25px;}
  .setup-content button {padding:6px 30px; font-size:16px;}

.font-style {overflow:hidden;}
.font-style h4{padding:10px; border:1px solid #c9c9c9; float:left; margin-right:10px;}
.font-style i {float:left; color:#4F5467; margin-top:22px; font-size:20px;}
.font-style i:hover {cursor:pointer;}

#step-2 button, #step-3 button, #step-4 button, #step-5 button, #step-6 button {margin-right:20px;}
#step-2 button:focus, #step-3 button:focus, #step-4 button:focus, #step-5 button:focus, #step-6 button:focus {color:#fff !important;}
.recommended-fonts h4:hover {cursor:pointer;}
.tab-slider--container {margin-top:50px;}

/* Tabs */

.tab-slider--nav {
  width: 100%;
  float: left; margin-bottom:10px;
}

.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  background: #fff;
  height: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tab-slider--tabs:after {
  content: "";
  width: 50%;
  background: #4F5467;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms ease-in-out;
  border-radius: 2px;
}
.tab-slider--tabs.slide:after {
  left: 50%;
}

.tab-slider--trigger {
  font-size: 14px;
  line-height: 1;
  color: #4F5467;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  position: relative; width:200px;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tab-slider--trigger.active {
  color: #fff;
}

.tab-slider--body {
  margin-bottom: 20px; width:100%; box-shadow:0 0 10px 0 #ccc; margin-top:10px; padding:20px;
}

.color-style {overflow:hidden;}
.color-style div {overflow:hidden; padding:10px; border:1px solid #c9c9c9; width:120px; margin-right:10px; float:left;}
.color-style span { padding:3px 50px;}

.bg-change option:hover {background-color:transparent !important;}
.Sizes .checkbox label {padding-left:20px;}
.imgpreview {overflow:hidden; padding:20px; border:1px solid #c9c9c9;}
.setup-content {border:1px solid #c9c9c9; margin-top:50px; padding:0px 20px 20px; border-radius:4px;}
#step-5 .thumbnail-img {float:left; margin-right:20px; width:100px; position:relative;}
#step-5 .form-group {margin-bottom:10px; overflow:hidden;}
#step-5 .font-style h4 {padding:5px; font-size:14px;}
#step-5 .color-style div { width:54px; padding:6px; }
#step-5 .color-style span { padding:1px 20px;}


.thumbnail-img .overlay {position:absolute; background-color:rgba(255, 255, 255, 0.7); width:100%; height:100%; top:0;}
.thumbnail-img .overlay i {position:absolute; top:9px; left:45px; color:#00ad00; font-size:17px;}

.Printed {overflow:hidden; padding-top:20px;}
.Printed .checkbox-primary input[type=checkbox]:checked+label::before {  background-color: #4c5667;  border-color: #4c5667;}
.Printed .checkbox label::before { border: 1px solid rgba(76, 86, 103,.6);height: 20px; width:20px; left: 0px; margin-left: -10px;}
.Printed .checkbox{margin-top:5px; margin-bottom:0px;}
.table>thead>tr>th {vertical-align:middle ;}
.checkbox label::after {font-size: 12px; height: 17px; left: 0; margin-left: -8px; top: 1px;  width: 17px;}
.Printed .checkbox label {padding-left:20px;}


@media only screen and (min-width : 1024px) {
  .stepwizard-step {
      width:17%;
  }
}
